APP_ENV=prod
APP_URL=https://recettes.sanstracasdigital.fr

DB_HOST=localhost
DB_NAME=jutx2682_gestion_recettes
DB_USER=jutx2682_user
DB_PASS=change_me

MAIL_FROM=support@recettes.sanstracasdigital.fr
MAIL_FROM_NAME=Memoire de Saveurs
SMTP_HOST=recettes.sanstracasdigital.fr
SMTP_PORT=465
SMTP_USER=support@recettes.sanstracasdigital.fr
SMTP_PASS=change_me
SMTP_SECURE=ssl
MAIL_DEBUG=0
